extends layout

block content
  h1=title
  - let o;
  - let items = results;
  div(class="container-fuild")
    div(class="row m-1")
    a(class="btn btn-primary ml-1", href= "/Year/create") Create
    div(class="row row-cols-1 row-col-sm-4 g-6")
      each result,index in results
        - let destination = `dispatch(\"/language/update?id=${result._id}\")`
           
          p #{result.Types}
          p #{result.NumberOfLang}
          p #{result.Data}  
          
          <br><br>
          a(class="btn btn-primary ml-1", href= "/Year/update?id="+result._id) Update
          a(class="btn btn-secondary ml-1", href= "/language/detail?id="+result._id) Detail
          a(class="btn btn-danger ml-1", href= "/language/delete?id="+result._id) Delete

  script.
   function buy(element){
     alert(`You purchased item ${element+1}.`)
    }

  script.
    function dispatch(path){
      window.location.href=path
    }
