extends layout

block content
  h1=title
  
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.Types}
          p #{result.NumberOfLang}
          p #{result.Data}  

  script.
   function buy(element){
     alert(`You purchased item ${element+1}.`)
    }